# Visual Studio
.vs/

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio user files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg

# Test results
TestResults/

# OS files
.DS_Store
Thumbs.db

# Publish output
publish/